
.primary {
    background-color: #007bff;
    color: white
}

.primary:hover {
    background-color: #0056b3;
    color: white;
    transition: color 0.3s ease;
}

.success {
    background-color: rgb(47, 212, 47);
    color: white
}

.success:hover {
    background-color: rgb(6, 146, 6);
    color: white;
    transition: color 0.3s ease;
}

.danger {
    background-color: rgb(255, 0, 0);
    color: white
}

.danger:hover {
    background-color: rgb(175, 1, 1);
    color: white;
    transition: color 0.3s ease;
}
